.conversormeto {
    justify-content: center;
    background-color: #0B9B8A;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 500px;
}

.conversormeto button {
    background-color: #DF5F57;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-left: 2%;
    margin-top: 2%;
    transition: background-color 0.3s ease;
}

.conversormeto button::after {
    content: '\2190';
    /* Código unicode para uma seta à esquerda */
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.conversormeto button:hover {
    background-color: #C94A47;
}

.divemega {
    background-color: #EB8E88;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 100%;
    width: 60%;
    border-radius: 15px;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: all 0.3s ease;
    /* Aplica a transição ao contêiner, não só ao hover */
}

.divemega:hover {
    transform: scale(1.05);
}

.divemega img {
    /* Certifique-se de que a imagem pode ser escalada */
    width: auto;
    height: auto;
    transition: transform 0.3s ease;
}

.divemega img:hover {
    transform: scale(1.1);  
}

.divasso {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0B9B8A;
    color: aliceblue;
    flex-direction: row;
    width: 550px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 3%;
    margin-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.divo:hover {
    transform: scale(1.05);
}

.divo input {
    background-color: white;
    width: 50%;
    border-radius: 15px;
    padding-left: 2%;
    border: none;
    font-size: 15px;
    padding: 2%;
    margin-left: 5%;
}

.diviado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.divtitulo{
    margin-top: 2%;
    margin-bottom: 2%;
}

.titulo-con {
    background-color: #EB8E88;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    font-size: 35px;
    color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}