.App {
    justify-content: center;
}

.page-calc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0B9B8A;
    width: 80%;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 15px;
    padding: 2%;
}

.tmb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0B9B8A;
    width: 80%;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 15px;
    padding: 2%;
}

.h2o {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0B9B8A;
    width: 80%;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 15px;
    padding: 2%;
}

.containerText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
}

.containerText h1 {
    color: black;
    font-size: 40px;
}

.containerText p {
    font-size: 20px;
}

.containerCalc {
    background-color: #EB8E88;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    padding-bottom: 2%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    /* Adiciona uma transição suave de 0.3 segundos */
}

.containerCalc:hover {
    transform: scale(1.05);
    /* Aumenta ligeiramente o tamanho quando hover */
}

.containerCalc input {
    background-color: white;
    width: 30%;
    border-radius: 15px;
    padding-left: 2%;
    border: none;
    font-size: 15px;
    padding: 2%;
    transition: background-color 0.3s ease;
    /* Adiciona uma transição de cor suave */
}

.containerCalc input:hover {
    background-color: whitesmoke;
    /* Altera a cor de fundo quando hover */
}

.containerCalc button {
    margin-top: 2%;
    background-color: #0B9B8A;
    color: aliceblue;
    border: none;
    border-radius: 15px;
    width: 30%;
    font-size: 15px;
    padding: 2%;
    transition: background-color 0.3s ease;
    /* Adiciona uma transição de cor suave */
}

.containerCalc button:hover {
    background-color: #087a6a;
    /* Altera a cor de fundo quando hover */
}

.containerCalc select {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 35%;
    border-radius: 15px;
    padding-left: 2%;
    border: none;
    font-size: 15px;
    padding: 2%;
    appearance: none;
}

.containerCalc select option {
    background-color: #0B9B8A;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px;
}

.containerCalc select option:checked {
    background-color: #FFA07A;
    /* Cor de fundo quando a opção está selecionada */
    color: black;
    /* Cor do texto quando a opção está selecionada */
}

.resultCalcs{
    background-color: aliceblue;
    border-radius: 15px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.result-complex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.titulo-calc{
    font-size: 50px;
}