.App{
    justify-items: center;
}

.receita{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
    margin-top: 5%;
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 15px;
}

.box-receitas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}