.mainP {
    justify-content: center;
}

.nav-bar {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.nav-bar-box {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 70px;
    width: 500px;
    padding-right: 5%;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #0B9B8A;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: transform 0.3s;
    /* Adicionando transição de escala */
}

.nav-bar-box a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-bar-box:hover {
    transform: scale(1.05);
    /* Aumenta o tamanho em 5% ao passar o mouse */
}

.nav-bar-box a:hover {
    color: #DF7157;
}

.select-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem{
    height: auto;
    width: 10%;
}