.Home {
    justify-content: center;
}

.apresenta {
    display: flex;
    align-items: center;
    height: auto;
    width: 600px;
    padding-left: 10%;
}

.apresentaImagem{
    display: flex;
    align-items: center;
    padding-left: 20%;
}

.inicio{
    display: flex;
    align-items: center;
    flex-direction: row;
}