.Home {
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.apresenta {
    display: flex;
    align-items: center;
    height: auto;
    width: 600px;
    padding-left: 4%;
}

.apresentaImagem {
    display: flex;
    align-items: center;
    padding-left: 20%;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 700px;
}

.inicio p {
    font-size: 45px;
}

.abaixo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0B9B8A;
    height: 100%;
    width: 90%;
    border-radius: 50px;
    margin-left: 5%;
}

.cad {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 5%;
    flex-direction: row;

}

.pequenos-cards {
    color: white;
    background-color: #0B9B8A;

}

.equipe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.titulo-equipe {
    background-color: #025349;
    color: white;
    width: 800px;
    border-radius: 50px;
}

.pessoas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 50px;
    margin-left: 15%;

}

.pessoas-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: #025349 1px solid;
    border-radius: 15%;
    margin-left: 26px;
    margin-bottom: 50px;
    height: 300px;
    width: 250px;
}

.texto-projeto{
    background-color: #EB8E88;
    height: auto;
    width: 500px;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 15%;
}

.texto-projeto p{
    font-size: 35px;
    margin-right: 14px;
    margin-left: 14px;
}

.equipe-conteudo{
    display: flex;
    align-items: center;
    
}

#nós {font-size: 34px;}

#gif {width: 180px;}

#textinho {font-size: 20px;
padding-left: 10%;
padding-right: 10%;}

#empresa {
    padding-bottom: 30px;
}

#nomes {
    color: black;
    font-size: 25px;
}