.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #DF7157;
  width: 100%;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAB607;
  border-radius: 999px;
  height: 60px;
  width: 10%;
  margin-left: 2%;
}

.logo img {
  width: 100%; 
  height: auto; 
  border-radius: 50%; 
}

.header_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFC9BD;
  color: black;
  border-radius: 999px;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  width: 500px;
  margin-right: 5%;
}

.header_bar a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  margin: 0 25px;
  font-size: 30px;
  transition: color 0.3s;
}

.header_bar a:hover {
  color: #0B9B8A;
}

.sair{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFC9BD;
  color: black;
  border-radius: 999px;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  width: 60px;
  margin-right: 2%;
}

.sair a{
  text-decoration: none;
  color: #000;
  font-size: 18px;
  margin: 0 25px;
  font-size: 25px;
  transition: color 0.3s;
}

.sair a:hover{
  color: #0B9B8A;
}