.password-input {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px black solid;
    border-radius: 15px;
    height: 35px;
    width: 400px;
    font-size: 20px;
  }
  
  .password-input input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
  }
  
  .password-input span {
    cursor: pointer;
  }
  